<a href="https://colab.research.google.com/github/Bhavu211/Data_Science/blob/main/GFGPythonfor_Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print(12)

12

In [ ]:
print("Bhawna Mangla")

Bhawna Mangla

# Datatypes in Python
4 datattypes
integer
float
string
boolean

In [ ]:
print(12)
print("Bhavu")
print(True)

12
Bhavu
True

In [ ]:
print("BHawna" ,123)

BHawna 123

In [ ]:
print("Bhawna","Mangla")

Bhawna Mangla

In [ ]:
print("BHawna""Mangla")

BHawnaMangla

Concat without comma

In [ ]:
print(123)
print()
print('Bhawna')

123

Bhawna

print(), \n - Enter space, \t - tab

In [ ]:
print("Bhawna\n\n Mangla")

Bhawna

 Mangla

In [ ]:
print("BHawna\n\t Mangla")

BHawna
	 Mangla

In [ ]:
print("Bhawna Mangla", end = '-')
print(12)

Bhawna Mangla-12

In [ ]:
print("Bhawna Mangla", end = '-')
print(12, end = '|')
print("Bhawna")
print("Mangla")

Bhawna Mangla-12|Bhawna
Mangla

In [ ]:
type(12),

(int,)

In [ ]:
type("Bhawna"),

(str,)

In [ ]:
#Operators
# int, int
print(3+5)
print(3-5)
print(3*5)
print(3/5)
print(3//5)
print(3 %5)
print(3 ** 5)

# int, float
print(3+5.5)
print(3-5.5)
print(3*5.5)
print(3/5.5)
print(3//5.5)
print(3 %5.5)
print(3 ** 5.5)

# int, string
# int, bool

#Operators
# int, int
print(3+5)
print(3-5)
print(3*5)
print(3/5)
print(3//5)
print(3 %5)
print(3 ** 5)



# int, float
print(3+5.5)
print(3-5.5)
print(3*5.5)
print(3/5.5)
print(3//5.5)
print(3 %5.5)
print(3 ** 5.5)

# int, string
# Only multiply and boolean can happen
print(5*"Bhawna")

# int, bool
print(10+True)
print(10-True)
print(10*True)
print(10*(True+True))
print(10/True)
print(10//True)
print(10 **True)

8
-2
15
0.6
0
3
243
8.5
-2.5
16.5
0.5454545454545454
0.0
3.0
420.8883462392372
8
-2
15
0.6
0
3
243
8.5
-2.5
16.5
0.5454545454545454
0.0
3.0
420.8883462392372
BhawnaBhawnaBhawnaBhawnaBhawna
11
9
10
20
10.0
10
10

#Operators
# int, int
print(3+5)
print(3-5)
print(3*5)
print(3/5)
print(3//5)
print(3 %5)
print(3 ** 5)



# int, float
print(3+5.5)
print(3-5.5)
print(3*5.5)
print(3/5.5)
print(3//5.5)
print(3 %5.5)
print(3 ** 5.5)

# int, string
# Only multiply and boolean can happen
print(5*"Bhawna")

# int, bool
print(10+True)
print(10-True)
print(10*True)
print(10*(True+True))
print(10/True)
print(10//True)
print(10 **True)

In [ ]:
print(True + 5.5)

6.5

str - bool, float
float - str, bool
bool - str, float

In [ ]:
print("Bhawna"*True)
print("Mangla"*False)

Bhawna

In [ ]:
print(7.5 + True)

8.5

In [ ]:
a=5
print(a+5)
print(a)

10
5

2.1 Comparison Operators

print(10)
a +=2

Logical operators

In [ ]:
num=35
print((num%5==0) and (num%7==0))
print((num%5==0) and (num%7==0) and (num%2==0))
print((num%5==0) and (num%7==0) and (num%2==0) and num<=100)

True
False
False

In [3]:
name='Bhawna Mangla'
for i in range(len(name)-1,-1,-1):
  print(name[i], end='')

#first parameter(last), where we want to end (0-1), step size(-1)

algnaM anwahB

In [1]:
name= 'Bhawna'
for i in range(-1,-len(name)-1,-1):
  print(name[i], end='')
#-1 -> last character
# -len(name) if 15 charaters , we go till -15, so tht last haracter can be included, so -1 s added, stepsize- -1

anwahB

In [ ]:
lst=[[1,2,3],[4,5,6]]
print(lst[1][1])

5

**Python for Data Science**

Data analyst- Analyse data that is already given
Data scientist- Predict using old data

Data Analyst
-Agenda|Problem Statement
-Finding KPIs
1. Finding Last year sales gender wise
2. Age Category(18-25)(26-35)
3. Courses(DSA,DA,DS)
4. Season
5. Trend(Feedbacks|Poles)

-Requirement gathering
1. Last year sales(Location, Gender, DOB, Course, Date, Day, Time)
2. Trends

-Data Gathering
-Explore Data
-Transform /Cleaning
-Analyze
-Visualization


Data Scientist
Agenda
KPIs-
1.Historic data
Data Gathering
-Explore Data
-Transform /Cleaning
-Analyze
-Visualization
-ML algorithm
-Evaluation
-Final algorithm

Data Loading

Clone from github
oor direct from google drive by-

from google.colab

In [ ]:
!git clone https://github.com/AshishJangra27/datasets

Cloning into 'datasets'...
remote: Enumerating objects: 328, done.
remote: Counting objects: 100% (93/93), done.
remote: Compressing objects: 100% (83/83), done.
remote: Total 328 (delta 19), reused 54 (delta 9), pack-reused 235 (from 1)
Receiving objects: 100% (328/328), 278.62 MiB | 16.11 MiB/s, done.
Resolving deltas: 100% (145/145), done.
Updating files: 100% (225/225), done.

In [ ]:
import pandas as pd

In [ ]:
dir(pandas)

['ArrowDtype',
 'BooleanDtype',
 'Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Flags',
 'Float32Dtype',
 'Float64Dtype',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NA',
 'NaT',
 'NamedAgg',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseDtype',
 'StringDtype',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt8Dtype',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_built_with_meson',
 '_config',
 '_is_numpy_dev',
 '_libs',
 '_pandas_datetime_CAPI',
 '_pandas_parser_CAPI',
 '_testing',
 '_typing',
 '_version_meson',
 'annotations',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'from_dummies',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'json_normalize',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_orc',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_spss',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'read_xml',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

In [ ]:
df= pd.read_csv('/content/datasets/Airbnb/airbnb_v2.csv')

In [ ]:
df

,Unnamed: 0,id,name,rating,reviews,host_name,host_id,address,features,amenities,...,price,country,bathrooms,beds,guests,toiles,bedrooms,studios,checkin,checkout
0,0,49849504,Perla bungalov,4.71,64,Mehmetcan,357334205.0,"Kartepe, Kocaeli, Turkey","2 guests,2 bedrooms,1 bed,1 bathroom","Mountain view,Valley view,Lake access,Kitchen,...",...,8078,Turkey,1,1,2,0,2,0,Flexible,12 00 pm
1,1,50891766,Authentic Beach Architect Sheltered Villa with...,New,0,Fatih,386223873.0,"Kaş, Antalya, Turkey","4 guests,2 bedrooms,2 beds,2 bathrooms","Kitchen,Wifi,Dedicated workspace,Free parking ...",...,4665,Turkey,2,2,4,0,2,0,4 00 pm - 11 00 pm,10 00 am
2,2,50699164,cottages sataplia,4.85,68,Giorgi,409690853.0,"Imereti, Georgia","4 guests,1 bedroom,3 beds,1 bathroom","Mountain view,Kitchen,Wifi,Dedicated workspace...",...,5991,Georgia,1,3,4,0,1,0,After 1 00 pm,12 00 pm
3,3,49871422,Sapanca Breathable Bungalow,5.0,13,Melih,401873242.0,"Sapanca, Sakarya, Turkey","4 guests,1 bedroom,2 beds,1 bathroom","Mountain view,Valley view,Kitchen,Wifi,Free pa...",...,11339,Turkey,1,2,4,0,1,0,After 2 00 pm,12 00 pm
4,4,51245886,Bungalov Ev 2,New,0,Arp Sapanca,414884116.0,"Sapanca, Sakarya, Turkey","2 guests,1 bedroom,1 bed,1 bathroom","Kitchen,Wifi,Free parking on premises,TV,Air c...",...,6673,Turkey,1,1,2,0,1,0,After 2 00 pm,12 00 pm
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12800,12800,44697740,"Brown Dome House No. 3, full of healing",4.94,16,Aidan,161552316.0,"Imhoe-myeon, Jindo, South Jeolla Province, Sou...","4 guests,8 bathrooms","Kitchen,Wifi,Free parking on premises,Private ...",...,4288,South Korea,8,0,4,0,0,0,3 00 pm - 11 00 pm,11 00 am
12801,12801,29975283,Bubble Hotel Ubud with Bathtub under the Sky,4.67,6,Martha,118954227.0,"Gianyar, Indonesia","2 guests,1 bedroom,1 bed,Toilet with sink","Wifi,Free on-street parking,Air conditioning,G...",...,15200,Indonesia,0,1,2,1,1,0,3 00 pm - 10 00 pm,12 00 pm
12802,12802,32977697,Paradise Eco Hub,4.67,3,Silas,175214568.0,"Kabale, Uganda","2 guests,1 bedroom,2 beds,1 private bathroom","Wifi,Breakfast,Long-term stays allowed,Unavail...",...,9103,Uganda,1,2,2,0,1,0,After 3 00 pm,NaN
12803,12803,8006146,WisDOME - Mentigi Bay Village - Gilis - Lombok,4.86,7,Cempaka,718423.0,"Gunung Sari, Nusa Tenggara Barat, Indonesia","8 guests,2 bedrooms,4 beds,2.5 bathrooms","Kitchen,Wifi,Dedicated workspace,Free parking ...",...,42262,Indonesia,2,4,8,0,2,0,Flexible,12 00 pm
12804,12804,40547903,Enjoy Vitamin SEA! Ocean Front! [Ocean's Seven],4.85,13,Achy,246470880.0,"Uruma, Okinawa, Japan","5 guests,1 bedroom,2 beds,1 bathroom","Sea view,Beach access – Beachfront,Kitchen,Wif...",...,9909,Japan,1,2,5,0,1,0,After 4 00 pm,11 00 am

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
df.head()

,Unnamed: 0,id,name,rating,reviews,host_name,host_id,address,features,amenities,...,price,country,bathrooms,beds,guests,toiles,bedrooms,studios,checkin,checkout
0,0,49849504,Perla bungalov,4.71,64,Mehmetcan,357334205.0,"Kartepe, Kocaeli, Turkey","2 guests,2 bedrooms,1 bed,1 bathroom","Mountain view,Valley view,Lake access,Kitchen,...",...,8078,Turkey,1,1,2,0,2,0,Flexible,12 00 pm
1,1,50891766,Authentic Beach Architect Sheltered Villa with...,New,0,Fatih,386223873.0,"Kaş, Antalya, Turkey","4 guests,2 bedrooms,2 beds,2 bathrooms","Kitchen,Wifi,Dedicated workspace,Free parking ...",...,4665,Turkey,2,2,4,0,2,0,4 00 pm - 11 00 pm,10 00 am
2,2,50699164,cottages sataplia,4.85,68,Giorgi,409690853.0,"Imereti, Georgia","4 guests,1 bedroom,3 beds,1 bathroom","Mountain view,Kitchen,Wifi,Dedicated workspace...",...,5991,Georgia,1,3,4,0,1,0,After 1 00 pm,12 00 pm
3,3,49871422,Sapanca Breathable Bungalow,5.0,13,Melih,401873242.0,"Sapanca, Sakarya, Turkey","4 guests,1 bedroom,2 beds,1 bathroom","Mountain view,Valley view,Kitchen,Wifi,Free pa...",...,11339,Turkey,1,2,4,0,1,0,After 2 00 pm,12 00 pm
4,4,51245886,Bungalov Ev 2,New,0,Arp Sapanca,414884116.0,"Sapanca, Sakarya, Turkey","2 guests,1 bedroom,1 bed,1 bathroom","Kitchen,Wifi,Free parking on premises,TV,Air c...",...,6673,Turkey,1,1,2,0,1,0,After 2 00 pm,12 00 pm

In [ ]:
df.head(3)

,Unnamed: 0,id,name,rating,reviews,host_name,host_id,address,features,amenities,...,price,country,bathrooms,beds,guests,toiles,bedrooms,studios,checkin,checkout
0,0,49849504,Perla bungalov,4.71,64,Mehmetcan,357334205.0,"Kartepe, Kocaeli, Turkey","2 guests,2 bedrooms,1 bed,1 bathroom","Mountain view,Valley view,Lake access,Kitchen,...",...,8078,Turkey,1,1,2,0,2,0,Flexible,12 00 pm
1,1,50891766,Authentic Beach Architect Sheltered Villa with...,New,0,Fatih,386223873.0,"Kaş, Antalya, Turkey","4 guests,2 bedrooms,2 beds,2 bathrooms","Kitchen,Wifi,Dedicated workspace,Free parking ...",...,4665,Turkey,2,2,4,0,2,0,4 00 pm - 11 00 pm,10 00 am
2,2,50699164,cottages sataplia,4.85,68,Giorgi,409690853.0,"Imereti, Georgia","4 guests,1 bedroom,3 beds,1 bathroom","Mountain view,Kitchen,Wifi,Dedicated workspace...",...,5991,Georgia,1,3,4,0,1,0,After 1 00 pm,12 00 pm

In [ ]:
df.columns

Index(['Unnamed: 0', 'id', 'name', 'rating', 'reviews', 'host_name', 'host_id',
       'address', 'features', 'amenities', 'safety_rules', 'hourse_rules',
       'img_links', 'price', 'country', 'bathrooms', 'beds', 'guests',
       'toiles', 'bedrooms', 'studios', 'checkin', 'checkout'],
      dtype='object')

In [ ]:
df['Unnamed: 0']

0            0
1            1
2            2
3            3
4            4
         ...
12800    12800
12801    12801
12802    12802
12803    12803
12804    12804
Name: Unnamed: 0, Length: 12805, dtype: int64

In [ ]:
df['name']

0                                           Perla bungalov
1        Authentic Beach Architect Sheltered Villa with...
2                                        cottages sataplia
3                              Sapanca Breathable Bungalow
4                                            Bungalov Ev 2
                               ...
12800              Brown Dome House No. 3, full of healing
12801         Bubble Hotel Ubud with Bathtub under the Sky
12802                                     Paradise Eco Hub
12803       WisDOME - Mentigi Bay Village - Gilis - Lombok
12804     Enjoy Vitamin SEA!  Ocean Front! [Ocean's Seven]
Name: name, Length: 12805, dtype: object

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12805 entries, 0 to 12804
Data columns (total 23 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    12805 non-null  int64
 1   id            12805 non-null  int64
 2   name          12805 non-null  object
 3   rating        12805 non-null  object
 4   reviews       12805 non-null  object
 5   host_name     12797 non-null  object
 6   host_id       12805 non-null  float64
 7   address       12805 non-null  object
 8   features      12805 non-null  object
 9   amenities     12805 non-null  object
 10  safety_rules  12805 non-null  object
 11  hourse_rules  12805 non-null  object
 12  img_links     12805 non-null  object
 13  price         12805 non-null  int64
 14  country       12805 non-null  object
 15  bathrooms     12805 non-null  int64
 16  beds          12805 non-null  int64
 17  guests        12805 non-null  int64
 18  toiles        12805 non-null  int64
 19  bedrooms      12805 non-null  int64
 20  studios       12805 non-null  int64
 21  checkin       12005 non-null  object
 22  checkout      10355 non-null  object
dtypes: float64(1), int64(9), object(13)
memory usage: 2.2+ MB

In [ ]:
df.isnull().sum()

Unnamed: 0         0
id                 0
name               0
rating             0
reviews            0
host_name          8
host_id            0
address            0
features           0
amenities          0
safety_rules       0
hourse_rules       0
img_links          0
price              0
country            0
bathrooms          0
beds               0
guests             0
toiles             0
bedrooms           0
studios            0
checkin          800
checkout        2450
dtype: int64

In [ ]:
del df['host_name']

KeyError: ('host_name', 'checkin', 'checkout')

In [ ]:
df.isnull().sum()

Unnamed: 0         0
id                 0
name               0
rating             0
reviews            0
host_id            0
address            0
features           0
amenities          0
safety_rules       0
hourse_rules       0
img_links          0
price              0
country            0
bathrooms          0
beds               0
guests             0
toiles             0
bedrooms           0
studios            0
checkin          800
checkout        2450
dtype: int64

In [ ]:
del df['checkin']
del df[ 'checkout']

In [ ]:
len(df['id'].unique())

12805

In [ ]:
df['id'].unique()

array([49849504, 50891766, 50699164, ..., 32977697,  8006146, 40547903])

In [ ]:
df['id'].count()

np.int64(12805)

In [ ]:
df['id'].nunique()

12805

1. Data cleaning
remove null and duplicate values in id

In [ ]:
jobs=pd.read_csv('/content/datasets/Job Postings/jobs.csv.zip')

In [ ]:
jobs['salary'].value_counts()

salary
Not disclosed                                          45544
6,50,000 - 9,00,000 PA.                                 3330
6,00,000 - 8,00,000 PA.                                 1114
5,00,000 - 10,00,000 PA.                                1087
2,50,000 - 3,50,000 PA.                                  599
                                                       ...
4,00,000 - 9,00,000 PA. (Including Variable: 20.0%)        1
4,00,00,000 - 4,50,00,000 PA.                              1
2,00,000 - 6,00,000 PA. (Including Variable: 30.0%)        1
60,00,000 - 1,00,00,000 PA.                                1
75,00,000 - 1,00,00,000 PA.                                1
Name: count, Length: 813, dtype: int64

In [ ]:
jobs

,job_id,job_role,company,experience,salary,location,rating,reviews,resposibilities,posted_on,job_link,company_link
0,7.012301e+10,Branch Banking - Calling For Women Candidates,Hdfc Bank,1-6 Yrs,Not disclosed,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",4.0,39110 Reviews,"Customer Service,Sales,Relationship Management",1 Day Ago,https://www.naukri.com/job-listings-branch-ban...,https://www.naukri.com/hdfc-bank-jobs-careers-213
1,6.012391e+10,Product Owner Senior Manager,Accenture,11-15 Yrs,Not disclosed,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",4.1,32129 Reviews,"Product management,Market analysis,Change mana...",1 Day Ago,https://www.naukri.com/job-listings-product-ow...,https://www.naukri.com/accenture-jobs-careers-...
2,6.012391e+10,Employee Relations and Policies Associate Manager,Accenture,3-7 Yrs,Not disclosed,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",4.1,32129 Reviews,"Business process,Change management,Team manage...",1 Day Ago,https://www.naukri.com/job-listings-employee-r...,https://www.naukri.com/accenture-jobs-careers-...
3,6.012391e+10,Employee Relations and Policies Specialist,Accenture,3-7 Yrs,Not disclosed,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",4.1,32129 Reviews,"Business process,Change management,Team manage...",1 Day Ago,https://www.naukri.com/job-listings-employee-r...,https://www.naukri.com/accenture-jobs-careers-...
4,6.012301e+10,SAP BO Consultant,Mindtree,5-7 Yrs,Not disclosed,"Hybrid - Kolkata, Hyderabad/Secunderabad, Pune...",4.1,3759 Reviews,"SAP BO,PL / SQL,Oracle SQL,SAP Business Object...",1 Day Ago,https://www.naukri.com/job-listings-sap-bo-con...,https://www.naukri.com/mindtree-jobs-careers-3...
...,...,...,...,...,...,...,...,...,...,...,...,...
79142,6.012301e+10,.Net Fullstack Developer,Citiustech,3-8 Yrs,"7,00,000 - 17,00,000 PA.","Hybrid - Pune, Bangalore/Bengaluru, Mumbai (Al...",4.0,742 Reviews,"c#,.net core,javascript,Microservices,Angular,...",2 Days Ago,https://www.naukri.com/job-listings-net-fullst...,https://www.naukri.com/citiustech-jobs-careers...
79143,1.122201e+10,Senior (BI) Business Intelligence Architect,Hexaware Technologies,10-13 Yrs,Not disclosed,"Hybrid - Pune, Chennai, Bangalore/Bengaluru, M...",3.7,3172 Reviews,"Informatica Mdm,etl,business intelligence,Agil...",1 Day Ago,https://www.naukri.com/job-listings-senior-bi-...,https://www.naukri.com/hexaware-technologies-j...
79144,1.512220e+11,PowerBI Developer,EY,5-10 Yrs,Not disclosed,"Hybrid - Pune, Mumbai (All Areas)",3.8,6267 Reviews,"pagination,Power Bi,Dax",2 Days Ago,https://www.naukri.com/job-listings-powerbi-de...,https://www.naukri.com/ey-jobs-careers-9156
79145,2.712220e+11,Customer Service Associate,Tech Mahindra,0-2 Yrs,"2,50,000 - 3,50,000 PA.","Temp. WFH - Noida, Kolkata, New Delhi, Hyderab...",3.7,21440 Reviews,"Bengali,International BPO,BPO,Customer Service...",10 Days Ago,https://www.naukri.com/job-listings-customer-s...,https://www.naukri.com/tech-mahindra-jobs-care...
79146,2.112220e+11,Senior Java BED ( PAN India)- KG,Tech Mahindra,8-12 Yrs,"25,00,000 - 27,50,000 PA.","Temp. WFH - Noida, Kolkata, Hyderabad/Secunder...",3.7,21440 Reviews,"Kafka,sql,spring boot,REST API,java,Lambda,Des...",3 Days Ago,https://www.naukri.com/job-listings-senior-jav...,https://www.naukri.com/born-commerce-jobs-care...

In [ ]:
jobs[jobs['salary']!= 'Not disclosed']

,job_id,job_role,company,experience,salary,location,rating,reviews,resposibilities,posted_on,job_link,company_link
19,6.012301e+10,.Net Fullstack Developer,Citiustech,3-8 Yrs,"7,00,000 - 17,00,000 PA.","Hybrid - Pune, Bangalore/Bengaluru, Mumbai (Al...",4.0,742 Reviews,"c#,.net core,javascript,Microservices,Angular,...",1 Day Ago,https://www.naukri.com/job-listings-net-fullst...,https://www.naukri.com/citiustech-jobs-careers...
21,5.012301e+10,Hexaware Technologies || Azure DataBricks_Pysp...,Hexaware Technologies,6-11 Yrs,"10,00,000 - 20,00,000 PA.","Pune, Chennai, Mumbai (All Areas)",3.7,3172 Reviews,"Pyspark,Azure Databricks,Python,Azure Data Lak...",2 Days Ago,https://www.naukri.com/job-listings-hexaware-t...,https://www.naukri.com/hexaware-technologies-j...
23,3.112220e+11,Deputy Manager- Marketing (Digital & B2B)-Indu...,Exide,2-7 Yrs,"4,00,000 - 9,00,000 PA. (Including Variable: 2...","Kolkata, Hyderabad/Secunderabad, Pune, Bangalo...",3.7,1441 Reviews,"Sales Automation,digital initiative,dms,Salesf...",7 Days Ago,https://www.naukri.com/job-listings-deputy-man...,https://www.naukri.com/exide-jobs-careers-414
24,2.712220e+11,Customer Service Associate,Tech Mahindra,0-2 Yrs,"2,50,000 - 3,50,000 PA.","Temp. WFH - Noida, Kolkata, New Delhi, Hyderab...",3.7,21440 Reviews,"Bengali,International BPO,BPO,Customer Service...",9 Days Ago,https://www.naukri.com/job-listings-customer-s...,https://www.naukri.com/tech-mahindra-jobs-care...
25,2.112220e+11,Senior Java BED ( PAN India)- KG,Tech Mahindra,8-12 Yrs,"25,00,000 - 27,50,000 PA.","Temp. WFH - Noida, Kolkata, Hyderabad/Secunder...",3.7,21440 Reviews,"Kafka,sql,spring boot,REST API,java,Lambda,Des...",2 Days Ago,https://www.naukri.com/job-listings-senior-jav...,https://www.naukri.com/born-commerce-jobs-care...
...,...,...,...,...,...,...,...,...,...,...,...,...
79125,2.712220e+11,Customer Service Associate,Tech Mahindra,0-2 Yrs,"2,50,000 - 3,50,000 PA.","Temp. WFH - Noida, Kolkata, New Delhi, Hyderab...",3.7,21440 Reviews,"Bengali,International BPO,BPO,Customer Service...",10 Days Ago,https://www.naukri.com/job-listings-customer-s...,https://www.naukri.com/tech-mahindra-jobs-care...
79126,2.112220e+11,Senior Java BED ( PAN India)- KG,Tech Mahindra,8-12 Yrs,"25,00,000 - 27,50,000 PA.","Temp. WFH - Noida, Kolkata, Hyderabad/Secunder...",3.7,21440 Reviews,"Kafka,sql,spring boot,REST API,java,Lambda,Des...",3 Days Ago,https://www.naukri.com/job-listings-senior-jav...,https://www.naukri.com/born-commerce-jobs-care...
79142,6.012301e+10,.Net Fullstack Developer,Citiustech,3-8 Yrs,"7,00,000 - 17,00,000 PA.","Hybrid - Pune, Bangalore/Bengaluru, Mumbai (Al...",4.0,742 Reviews,"c#,.net core,javascript,Microservices,Angular,...",2 Days Ago,https://www.naukri.com/job-listings-net-fullst...,https://www.naukri.com/citiustech-jobs-careers...
79145,2.712220e+11,Customer Service Associate,Tech Mahindra,0-2 Yrs,"2,50,000 - 3,50,000 PA.","Temp. WFH - Noida, Kolkata, New Delhi, Hyderab...",3.7,21440 Reviews,"Bengali,International BPO,BPO,Customer Service...",10 Days Ago,https://www.naukri.com/job-listings-customer-s...,https://www.naukri.com/tech-mahindra-jobs-care...
79146,2.112220e+11,Senior Java BED ( PAN India)- KG,Tech Mahindra,8-12 Yrs,"25,00,000 - 27,50,000 PA.","Temp. WFH - Noida, Kolkata, Hyderabad/Secunder...",3.7,21440 Reviews,"Kafka,sql,spring boot,REST API,java,Lambda,Des...",3 Days Ago,https://www.naukri.com/job-listings-senior-jav...,https://www.naukri.com/born-commerce-jobs-care...

In [ ]:
jobs['salary']!= 'Not disclosed'

0        False
1        False
2        False
3        False
4        False
         ...
79142     True
79143    False
79144    False
79145     True
79146     True
Name: salary, Length: 79147, dtype: bool

In [ ]:
jobs['salary']== 'Not disclosed'

0         True
1         True
2         True
3         True
4         True
         ...
79142    False
79143     True
79144     True
79145    False
79146    False
Name: salary, Length: 79147, dtype: bool

In [ ]:
df.dropna()